* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(20deg, #d17709fb -70%, #111 70%, #111 100%);
  font-family: "Saira", sans-serif;
}

/* Sidebar */

.sidebar {
  width: 260px;
  background: linear-gradient(to bottom, #6c5840fb -70%, #111 70%);
  color: #fff;
  height: 100vh;
}

.nav-holder {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.close-btn {
  display: none;
  padding: 5px 10px;
  font-size: 20px;
  color: #d17609;
  border: 2px solid #d17609;
  background-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.close-btn:hover {
  background-color: #d17609;
  color: white;
}
.sidebar h2 {
  text-align: center;
  font-size: 20px;
  height: 30px;
  color: #d17609;
  font-weight: 900;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar ul li:hover {
  background: #333;
  border-left: 2px solid #d17609;
  color: #d17609;
}

.sidebar ul li a {
  text-decoration: none;
  padding: 14px 20px;
  color: inherit;
  display: block;
  font-size: 13px;
  font-weight: 600;
}
.the-main-content {
  width: 100%;
  height: 100%;
  display: grid;
}

/* the main content header content  */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
}

.header-right {
  margin-right: 10px;
}

.menu-button {
  background-color: transparent;
  border: 2px solid #d17609;
  padding: 6px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  color: #d17609;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-button:hover {
  background-color: #d17609;
  color: #000;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  background: rgba(255, 102, 0, 0.1);
  padding: 6px 12px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  border: 1px solid rgba(255, 102, 0, 0.4);
  transition: 0.3s;
}

.search-icon {
  color: #d17609;
  margin-right: 8px;
}

.search-input {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: white;
  padding-right: 60px; /* Make space for the shortcut text */
}

.search-shortcut {
  position: absolute;
  right: 12px;
  font-size: 12px;
  color: #888;
  background-color: #e0e0e0;
  padding: 2px 6px;
  border-radius: 4px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #d17609;
  display: flex;
  align-items: center;
}

.icon-button:hover {
  color: #ffffff;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #d17609;
}

.profile-name {
  font-weight: 600;
  color: #333;
}

.rv {
  grid-row: 1 / 2; /* both items share the same row */
  grid-column: 1 / 2; /* both items share the same column */
  width: 100%;
  height: 100%;
}

.the-background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
  font-size: 80px;
  font-weight: 900;
  font-style: normal;
  overflow: hidden;
  scrollbar-width: none;
  color: #d17609;
  text-align: center;
}

.the-content {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(6px);
  overflow-y: scroll;
  scrollbar-width: none;
}

.the-background img {
  width: 50%;
}

.the-dash-content {
  padding: 0 20px;
  height: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.dash {
  margin: 20px 0px;
}

@media (max-width: 1000px) {
  .the-main-content {
    width: 100%;
  }
  .search-container {
    width: 20px;
    padding: 6px;
  }
  .search-shortcut {
    display: none;
  }
  .search-icon {
    color: #d17609;
    width: 100%;
    height: 20px;
    width: 20px;
  }

  .search-input {
    display: none;
  }

  .menu-button {
    display: flex;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    height: 35px;
    width: 35px;
  }

  .search-icon {
    color: #d17609;
    margin-right: 0px;
  }

  .sidebar {
    position: fixed;
    left: -260px; /* hidden by default */
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1;
  }

  .sidebar.active {
    left: 0; /* slide in */
  }

  .close-btn {
    display: block;
  }
}

/*the dash style */

.grid {
  display: grid;
  gap: 20px;
  font-weight: 200px;
  font-size: 13px;
}

.icon-s {
  fill: #d17609;
}

.grid-4 {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.grid-2 {
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-2 .card h2 {
  color: #fc8d06c0;
  margin-bottom: 5px;
}

.grid-2 .card ul {
  border: 2px dotted orange;
  border-radius: 10px;
  padding: 5px;
}

.grid-2 .card li {
  color: white;
  font-weight: 400;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 4px;
}

.yellow {
  background-color: rgba(255, 255, 0, 0.272);
}

.red {
  background-color: rgba(255, 0, 0, 0.272);
}

.green {
  background-color: rgba(0, 128, 0, 0.272);
}

.blue {
  background-color: rgba(0, 0, 255, 0.272);
}

.card,
.cus-card {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.card p {
  color: #fc8d06c0;
  font-size: 12px;
  margin-top: 5px;
  font-weight: 600;
}

.card strong {
  color: white;
  font-size: 20px;
}

.card:hover {
  background: rgba(255, 102, 0, 0.3);
  cursor: pointer;
}

.grid-2 .card ul {
  list-style: none;
}

@media (max-width: 500px) {
  .grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .card {
    padding-left: 10px;
  }

  .card p {
    color: #fc8d06c0;
    font-size: 10px;
    margin-top: 5px;
    font-weight: 600;
  }

  .card strong {
    color: white;
    font-size: 14px;
  }
  .grid-2 {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

/************************* CUSTOMER MANAGEMENT STYLE  */

/* Page Content */
.cus-content {
  margin: auto;
  padding: 20px 0 0 0;
  flex: 1;
  transition: margin-left 0.3s ease;
  width: 90%;
  height: 88%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.cus-card {
  margin-bottom: 30px;
}
h1 {
  margin-top: 0;
  color: #d17609;
}

.cus-content p {
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
}

/* Card Layout */
.cus-card h3 {
  margin-top: 0;
  color: #d17609;
  margin-bottom: 10px;
  font-size: 20px;
}

/* Form */
.cus-form-group {
  width: 95%;
  margin-bottom: 12px;
}

.cus-form-group button {
  margin-left: 10px;
}
.cus-form-group label {
  display: block;
  margin-bottom: 6px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
.cus-form-group input,
.cus-form-group select {
  width: 100%;
  border: 1px solid rgba(255, 102, 0, 0.4);
  border-radius: 6px;
  background: #1a1a1aab;
  padding: 10px;
  color: #fff;
  transition: 0.3s;
}
.cus-card label {
  color: white;
}

.cus-card button {
  background: #515358;
  color: #fff;
  border: none;
  padding: 10px 16px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
}
.cus-card button:hover {
  background: #333;
}

.cus-card ul {
  list-style: none;

  color: white;
}

/* Table */
.cus-table {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  overflow: auto;
}

.cus-table th,
.cus-table td {
  padding: 10px;
  text-align: left;
  padding: 12px 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  color: white;
}
.cus-table th {
  background: rgba(255, 102, 0, 0.2);
  color: #ff6600;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.03);
}

.cus-t {
  overflow-x: scroll;
  scrollbar-width: thin;
}

.cus-edit-btn {
  margin-bottom: 10px;
}

/************************* VEHICLE MANAGEMENT STYLE  */

/************************* VEHICLE MANAGEMENT STYLE  */

/* Page Content */
.veh-content {
  margin: auto;
  padding: 20px 0 0 0;
  flex: 1;
  transition: margin-left 0.3s ease;
  width: 90%;
  height: 88%;
  overflow-y: scroll;
  scrollbar-width: none;
}
h1 {
  margin-top: 0;
  color: #d17609;
}

.veh-content p {
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
}

/* Card Layout */
.veh-card {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 30px;
}

.veh-card h3 {
  margin-top: 0;
  color: #d17609;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Form */
.veh-form-group {
  width: 95%;
  margin-bottom: 12px;
}

.veh-form-group button {
  margin-left: 10px;
}
.veh-form-group label {
  display: block;
  margin-bottom: 6px;
  margin-right: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
}
.veh-form-group input,
.veh-form-group select {
  width: 100%;
  border: 1px solid rgba(255, 102, 0, 0.4);
  border-radius: 6px;
  background: #1a1a1aab;
  padding: 10px;
  color: #fff;
  transition: 0.3s;
}
.veh-card label {
  color: white;
}

.veh-card button {
  background: #515358;
  color: #fff;
  border: none;
  padding: 10px 16px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 10px;
}
.veh-card button:hover {
  background: #333;
}

.veh-card ul {
  list-style: none;
  color: white;
}

/* Table */
.veh-table {
  width: 100%;
  margin-top: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  overflow: auto;
}

.veh-table th,
.veh-table td {
  padding: 12px 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
  font-size: 14px;
  color: white;
}
.veh-table th {
  background: rgba(255, 102, 0, 0.2);
  color: #ff6600;
}

.veh-table tr:nth-cscreenhild(even) {
  background: rgba(255, 255, 255, 0.03);
}

.veh-t {
  overflow-x: scroll;
  scrollbar-width: thin;
}

.veh-edit-btn {
  margin-bottom: 10px;
}

@media (max-width) {
}
